[submodule "External\\llvm-project"]
	path = External\\llvm-project
	url = https://github.com/llvm/llvm-project
	branch = release/14.x
[submodule "External/json"]
	path = External/json
	url = https://github.com/nlohmann/json
